doctype html
html(lang="en").scrollbar-type-1.sb-darkCyan
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(rel="stylesheet", href="/vendor/metro4/css/metro-all.css")
        link(rel="stylesheet", href="/css/index.css")

        title #{appName}

        script.
            globalThis.address = !{address}
            globalThis.account = !{account}
            globalThis.resources = !{resources}
            globalThis.modules = !{modules}
            globalThis.transactions = !{trans}
            globalThis.metadata = !{meta}
            globalThis.events = !{events}

    body.m4-cloak
        include header
        include search

        section.container-fluid
            div.container

                h1.text-center
                    span#user_icon.fg-system

                h1.text-center.fg-system Account Info
                h2.fg-system.text-light.value.long-value.text-center#address
                hr.thin
                div.text-leader.text-center.fg-system
                    span TYPE:
                    span.ml-2.value#user-type

        section.container-fluid.mt-4
            div.container
                div.row
                    div.cell-sm-6.cell-lg-6.cell-xl-3
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-cyan.fg-white
                                span.mif-event-available
                            div.content.p-3
                                div.text-upper USER
                                div.text-upper EVENTS
                                div.box-value
                                    div#user-events-count

                    div.cell-sm-6.cell-lg-6.cell-xl-3
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-orange.fg-white
                                span.mif-database
                            div.content.p-3
                                div.text-upper USER
                                div.text-upper RESOURCES
                                div.box-value
                                    div#user-resources-count

                    div.cell-sm-6.cell-lg-6.cell-xl-3
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-teal.fg-white
                                span.mif-layers
                            div.content.p-3
                                div.text-upper USER
                                div.text-upper TRANSACTIONS
                                div.box-value
                                    div#user-transactions-count


                    div.cell-sm-6.cell-lg-6.cell-xl-3
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-violet.fg-white
                                span.mif-apps
                            div.content.p-3
                                div.text-upper USER
                                div.text-upper MODULES
                                div.box-value
                                    div#user-modules-count


        section.container-fluid
            div.container
                div.mt-5#general-wrapper(data-role="panel" data-title-caption="General" data-title-icon="<span class='mif-info'>" data-cls-title-caption="text-upper text-left")
                    table.table.striped.info-table
                        tbody
                            tr
                                td AUTHENTICATION KEY
                                td
                                    div.value.long-value#authentication_key
                            tr
                                td SEQUENCE NUMBER
                                td
                                    div.value#sequence_number

                div.mt-5#resources-wrapper(data-role="panel" data-collapsible="true" data-collapsed="true" data-title-caption="Resources" data-title-icon="<span class='mif-database'>" data-cls-title-caption="text-upper text-left")
                    div#resources

        include footer

        include scripts

        script(type="module", src="/js/account-info.js")